<!DOCTYPE html>
<html lang="pt-br">
<head>

	<title>F. Bruno - Site Pessoal</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<meta charset="utf-8">

	<meta name="author" content="Francisco Bruno">

	<meta name="descrition" content="Site para aula de Análise de Programação.">

	<meta name="keywords" content="site pessoal, site html, site css">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>
<body bgcolor="#ECE5CE">

	<div class="bbf"></div>

	<h1 id="nome1">"I'm Francisco Bruno...</h1>

	<img id="gis111" src="img/Phantom.gif">

	<p id="pp">"Olá, meu nome é Francisco Bruno,<br> conhecido pelos amigos como "Brunim Neet's",<br> tenho 16 anos(04/10), estudante,<br> estudo na EEEP Professora Maria Célia Pinheiro Falcão,<br> curso de Redes de Computadores..."</p>


	<img src="img/2.jpg" class="fott">
	<img src="img/fun4.jpeg" class="fundo">


	<div class="bbf2">
		<h1 id="nome2">...Santana da Silva"</h1>
	</div>

<div class="bbf4">
	<p>Do que eu gosto?</p>


</div>
	<ul class="b12">
		<li id="b1">YouTube s2;</li>
			<li id="b2">Jogar os meus jogos favoritos;</li>
				<li id="b3">Dançar;</li>
					<li id="b4">Ter novos amigos...;</li>
					<li id="b5">Matemática;</li>
					<li id="b6">Inglês;</li>
					<li id="b7">Instagram;</li>
					<li id="b8">Estar do lado da @?...;</li>
	</ul>


<div class="bbf5">
	<p id="reda">
		Redes sociais
	</p>

</div>

	<a id="face" href="https://www.facebook.com/hgmljvf">FACEBOOK</a>
	<a id="inst" href="https://www.instagram.com/brunimnoneets/">INSTAGRAM</a>
	<a id="twi" href="https://twitter.com/fbrunobr">TWITTER</a>
	<a id="pint" href="https://br.pinterest.com/franiscobrunoj/">PINTEREST</a>
	<a id="tumb" href="http://fbrunoj.tumblr.com/">TUMBLR</a>
	<a id="you1" href="https://www.youtube.com/c/FBrunins">YOUTUBE</a>
	<a id="you2" href="https://www.youtube.com/channel/UCxlLbGxes_Hh0_exhHTae6g">BRUNIM NEET'S</a>

<div class="bbf7">
	<p id="bfr">E É ISSO AMIGOS!</p>
</div>

<img id="esq" src="img/esq.gif">
<img id="esp" src="img/grr.gif">

</body>
</html>